/* Overlay background */
.overlay {
  position: fixed;
  inset:0px;
  background: rgba(32, 32, 32, 0.856);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}


.modal {
  background: #0f0f0f;
  width: 520px;
  border-radius: 16px;
  padding: 24px;
  color: #fff;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.close-btn {
  font-size: 1.5rem;
  cursor: pointer;
  color: #aaa;
}

.close-btn:hover {
  color: #fff;
}


.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


.form-group {
  display: flex;
  flex-direction: column;
}


.form-group:nth-child(1),
.form-group:nth-child(2) {
  grid-column: span 2;
}


.label {
  font-size: 0.85rem;
  margin-bottom: 6px;
  color: #ccc;
}


.input,
.range-input,
select {
  background: #121212;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 12px ;
  color: #fff;
  font-size: 0.9rem;
  outline: none;
}


.input:focus,
.range-input:focus,
select:focus {
  border-color: #a66cff;
  box-shadow: 0 0 0 2px rgba(166, 108, 255, 0.35);
}

/* Date input icon color */
input[type="date"] {
  color-scheme: dark;
}

/* Button */
.button {
  grid-column: span 2;
  margin-top: 12px;
  padding: 14px;
  background: linear-gradient(135deg, #a66cff, #8b5cf6);
  border: none;
  border-radius: 14px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 30px rgba(166, 108, 255, 0.4);
}

.button:active {
  transform: translateY(0);
}
