body{
    margin: 0;
    background-color: rgb(0, 0, 0);
}


.Dashboard{
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.sideBar{
    width: 180px;
    padding: 20px;
    background-color: rgb(15, 15, 15);
    border-right: 1px solid #ede8f0;
    display: flex;
    flex-direction: column;
    position: sticky;
}

.sideBar h1{
    color: antiquewhite;
    text-align: left;
    margin-top: 0;
    padding-left: 2px;
}

.navLink{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logOutDiv{
    margin-top: 340px;
}

.content{
    flex: 1;
  min-width: 0;   /* VERY IMPORTANT for flex overflow */
  padding: 20px;

}

.manageBtn , .orderBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  border-radius: 12px ;
  padding: 14px 14px;
  color: #9b6f9b;
  font-size: 0.85rem;
  font-weight: 460;
  cursor: pointer;
  /* transition: background 0.2s ease, transform 0.1s ease; */
}

.logOutDiv{
    justify-content: center;
    margin-left: 5px;
}
.logOutBtn{
    padding: 20 28px ;
}

.manageBtn:hover,
.orderBtn:hover {
  background: #8b5cf6;
  transform: scale(1.03);
}